<.header>
  New Media Item
  <:subtitle>Add a new media item to your site.</:subtitle>
</.header>

<.media_form changeset={@changeset} action={~p"/admin/media"} />

<.back navigate={~p"/admin/media"}>Back to media</.back> 