<div class="container mx-auto px-4 py-8">
  <div class="max-w-3xl mx-auto">
    <div class="mb-6">
      <h1 class="text-2xl font-bold">New Page</h1>
    </div>

    <.form :let={f} for={@changeset} action={~p"/777/pages"}>
      <%= render "_form.html", changeset: @changeset, form: f %>
    </.form>
  </div>
</div> 